button {
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border-radius: 20px 20px;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}