.choose {
    background-color: hsl(0, 0%, 96%);
    position: relative;
    z-index: 2;
    padding: 100px 8vw 70px;

    &__textbox {
        width: 50%;
        margin-bottom: 60px;
        

        &--heading {
            font-weight: 400;
            color: hsl(233, 26%, 24%);
            margin-bottom: 15px;
        }

        &--subheading {
            color: hsl(233, 8%, 62%);
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__card__container {
        display: flex;
        justify-content: space-between;

        .choose__card {
            width: calc(90% / 4);

            &--heading {
                font-weight: 400;
                color: hsl(233, 26%, 24%);
                margin: 12px 0;
            }

            &--subheading {
                color: hsl(233, 8%, 62%);
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 20px;
        align-items: center;
        text-align: center;

        &__textbox {
            width: 100%;
        }
    }
}