.footer {
    background-color: hsl(233, 26%, 24%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 30px;
    color: white;
    padding: 30px 8vw;
    align-self: center;

    &__links {
        color: hsl(0, 0%, 98%);
        display: flex;
        width: 100%;
        grid-area: 1 / 2 / 3 / 3;
        align-self: center;
        font-weight: 700;
        font-size: 15px;

        .link:hover {
            color: hsl(136, 65%, 51%);
        }

        ul.links {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 10px;
            justify-content: space-between;

            li {
                &:nth-of-type(1) { display: none;}
                &:nth-of-type(3) { grid-area: 2/1/3/2;}
                &:nth-of-type(4) { grid-area: 3/1/4/2;}
            }
        }
    }

    &__social__logos {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        width: 60%;
        justify-content: space-between;
        font-size: 20px;

        .fab:hover {
            color: hsl(136, 65%, 51%);
        }
    }

    button {
        grid-area: 1 / 4 / 2 / 5;
        width: max-content;
        height: max-content;
        margin-left: auto;
    }

    &__copyright {
        grid-area: 2 / 4 / 3 / 5;
        text-align: right;
        font-size: 12px;
        color: gray;
    }

    @media screen and (max-width: 1023px) {
        &__copyright {font-size: 12px;}

        &__links {

            ul.links {
                grid-column-gap: 20px;
                margin: 0 0 0 30px;
            }
        }

        &__social__logos {
            width: 90%;
        }
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__links {

            ul.links {
                display: flex;
                flex-direction: column;
                text-align: center;
            }
        }

        &__social__logos {
            width: 50%;
        }

        button {
            margin: 0 0 0 10px;
            width: 150px;
            padding: 15px;
        }


        &__copyright {font-size: 10px;}
    }

}