.header {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding: 0 0 0 8vw !important;

    &__textbox {
        flex: 0 0 30%;

        &__heading {
            font-weight: 400;
            color: hsl(233, 26%, 24%);
            padding-bottom: 20px;
        }

        &__subheading {
            padding-bottom: 20px;
            color: hsl(233, 8%, 62%);
            line-height: 20px;
            font-weight: 400;
            font-size: 12px;
        }
    }

    &__image__container {
        position: relative;
        display: flex;
        flex: 0 0 70%;

        .mockUp-image {
            position: relative;
            margin: 0 0 0 auto;
            padding-left: 100px;
            transform: translateX(10%) scale(1.3);
            max-width: 100%;
            z-index: 3;
        }

        .bg-desktop {
            position: absolute;
            transform: translateX(75px) translateY(-200px) scale(1.2);
        }

        .bg-mobile {
            display: none;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        text-align: center;
        margin: 0;
        padding: 0 0 0 0 !important;
        justify-content: center;

        .mockUp-image { 
            position: relative;
            margin: auto;
            transform: translateY(-25%) scale(1.3);
            max-width: 100%;
            z-index: 3;
            align-self: center;
            padding-left: 0;
            width: 75%;
        }

        .bg-desktop {display: none;}
        .bg-mobile {
            display: flex;
            position: absolute;
            width: 100%;
            transform: translateY(-25%) scale(1.3);
        }

        &__textbox {
            padding: 20px;
        }
    }
}