.navbar {
    padding: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: 5;
    height: 70px;
    

    &__links {
        display: flex;
        width: 350px;
        
        .links {
            display: flex;
            justify-content: space-between;
            width: 100% !important;

            .link:hover {
                padding-bottom: 20px;
                color: black;
                border-bottom: 3px solid;
                border-bottom-color: hsl(136, 65%, 51%);
            }

            li {
                &:nth-of-type(6), &:nth-of-type(7) {
                    display: none;
                }
    
                &:nth-of-type(2) {
                    a span {
                        display: none;
                    }
                }
            }
        }
    }
}