@import url(https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;700&display=swap);

html {
    overflow-x: hidden;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}